# Local .terraform directories
**/.terraform/*
./terraform/*
/.terraform-provider-aws_v4.19.0_x5

.terraform/


# .tfstate files
*.tfstate
*.tfstate.*
./terraform.lock.hcl
*/.terraform_1.0.7_linux_amd64.zip
*.terraform.tfstate.backup
*.terraform.tfstate

